.post {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
}
.post__header{
    display: flex;
    margin-bottom: 10px;
}

.post__info{
    margin-left: 10px;
}

.post__body{
    margin-top: 10px;
    margin-bottom: 10px;
}

.post__postButtons{
    display: flex;
}